.dijitSliderDisabled *,
.dijitDisabledClickableRegion,	
.dijitSpinnerDisabled *,
.dijitButtonDisabled *,
.dijitDropDownButtonDisabled *,
.dijitComboButtonDisabled *,
.dijitComboBoxDisabled *
{
	cursor: not-allowed !important;
}
.dojoDndItemBefore {
	border-top: 2px solid #369;
}
.dojoDndItemAfter {
	border-bottom: 2px solid #369;
}
.dojoDndItemOver {
	cursor:pointer;
}
table.dojoDndAvatar { -moz-border-radius: 0; border: 1px solid #ccc; border-collapse: collapse; background-color: #fff; font-size: 75%; color: black;}
.dojoDndAvatar td	{ border: none; }
.dojoDndAvatar tr	{ border: none; }
.dojoDndAvatarHeader td	{ height: 20px; padding: 0 0 0 21px; }
.dojoDndAvatarItem td { padding: 2px;}
.tundra.dojoDndMove .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(dijit/dndNoMove.png); background-repeat: no-repeat; background-position: 2px center;}
.tundra.dojoDndCopy .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(dijit/dndNoCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.tundra.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(dijit/dndMove.png); background-repeat: no-repeat; background-position: 2px center;}
.tundra.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(dijit/dndCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.dijitTabPaneWrapper {
	
	background:#fff;
	border:1px solid #ccc;
}
.dijitTab {
	line-height:normal;
	margin-right:5px;	
	padding:0px;
	border:1px solid #ccc;
	background:#e2e2e2 url(dijit/tabEnabled.png) repeat-x;
}
.dijitAlignLeft .dijitTab,
.dijitAlignRight .dijitTab {
	margin-right:0px;
	margin-bottom:5px;	
}
.dijitTabInnerDiv {
	padding:6px 10px 4px 10px;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
}
.dijitTabHover,
.dijitTabCloseButtonHover {
	color: #243C5F;
	border-top-color:#92a0b3;
	border-left-color:#92a0b3;
	border-right-color:#92a0b3;
	background:#e2e2e2 url(dijit/tabHover.png) repeat-x bottom;
}
.dj_ie6 .dijitTabHover,
.dj_ie6 .dijitTabCloseButtonHover {
	background-image: url(dijit/tabHover.gif);
}
.dijitTabChecked,
.dijitTabCloseButtonChecked
{
	
	background-color:#fff;
	border-color: #ccc;
	background-image:none;
}
.dijitAlignTop .dijitTabChecked,
.dijitAlignTop .dijitTabCloseButtonChecked
{
	border-bottom-color:white;
	vertical-align:bottom;
}
.dijitAlignBottom .dijitTabChecked,
.dijitAlignBottom .dijitTabCloseButtonChecked
{
	border-top-color:white;
	-moz-border-radius:2px 2px 0px 0px;	
}
.dijitAlignLeft .dijitTabChecked,
.dijitAlignLeft .dijitTabCloseButtonChecked
{
	border-right-color:white;
}
.dijitAlignRight .dijitTabChecked,
.dijitAlignRight .dijitTabCloseButtonChecked
{
	border-left-color:white;
}
.dijitTab .dijitClosable {
	position: relative;
	padding:6px 20px 4px 10px;
}
.dijitTab .dijitClosable .closeImage {
	position:absolute;
	top: 7px;
	right: 3px;
	height: 12px;
	width: 12px;
	padding: 0;
	margin: 0;
	background: url(dijit/tabClose.png) no-repeat right top;
}
.dj_ie6 .dijitTab .dijitClosable .closeImage {
	background-image:url(dijit/tabClose.gif);
}
.dijitTabCloseButton .dijitClosable .closeImage {
	background-image : url(dijit/tabClose.png);
}
.dj_ie6 .dijitTabCloseButton .dijitClosable .closeImage {
	background-image : url(dijit/tabClose.gif);
}
.dijitTabCloseButtonHover .dijitClosable .closeImage {
	background-image : url(dijit/tabCloseHover.png);
}
.dj_ie6 .dijitTabCloseButtonHover .dijitClosable .closeImage {
	background-image : url(dijit/tabCloseHover.gif);
}
.dijitAlignLeft .dijitTab .dijitClosable {
	padding:6px 10px 4px 20px;
}
.dj_ie6 .dijitAlignLeft .dijitTab .dijitClosable .closeImage {
	left:-20px;
}
.dijitAlignBottom .dijitTab .dijitClosable .closeImage {
	top: auto;
	bottom: 7px;
	right: 3px;
}
.dijitAlignLeft .dijitTab .dijitClosable .closeImage {
	top: 7px;
	left: 3px;
}
.dijitAccordionPane {
	background-color: #e7e7e7;
}
.dijitAccordionTitle {
	background:#fafafa url(dijit/titleBar.png) repeat-x bottom left;
	border-top: 1px solid #bfbfbf;
	padding: 6px 4px 6px 8px;
	cursor:pointer;
}
.dijitAccordionTitle-selected  {
	background: #f9f9f9 url(dijit/accordionItemActive.gif) bottom repeat-x;
	font-weight: bold;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #bfbfbf;
	padding: 6px 4px 6px 8px;
	cursor: default;
}
.dijitAccordionArrow {
	background:url(dijit/plusButton.gif) no-repeat;
	width:15px;
	height:15px;
	margin-top:2px;
}
.dijitAccordionTitle-selected .dijitAccordionArrow {
	background:none;
	margin-top:2px;
}
.dijitAccordionBody {
	background: #fff;
}
.dijitSplitContainerSizerH {
	background:url(dijit/splitContainerSizerV.png) repeat-y #fff;
	border:0;
	border-left:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
	width:7px;
}
.dijitSplitContainerSizerH .thumb {
	background:url(dijit/splitContainerSizerV-thumb.png) no-repeat #ccc;
	left:1px;
	width:3px;
	height:19px;
	overflow: hidden;
}
.dijitSplitContainerSizerV {
	background:url(dijit/splitContainerSizerH.png) repeat-x #fff;
	border:0;
	border-top:1px solid #bfbfbf;
	border-bottom:1px solid #bfbfbf;
	height:7px;
}
.dijitSplitContainerSizerV .thumb {
	background:url(dijit/splitContainerSizerH-thumb.png) no-repeat #ccc;
	top:1px;
	width:19px;
	height:3px;
	overflow: hidden;
}
.dijitSplitter {
	border-color: #bfbfbf;
}
.dijitSplitterHorizontal {
	background:url(dijit/splitContainerSizerH.png) repeat-x #fff;
	border:0;
	border-left:0px solid #d3d3d3;
	border-right:0px solid #d3d3d3;
	height:5px;
}
.dijitSplitterHorizontal .dijitSplitterThumb {
	background:url(dijit/splitContainerSizerH-thumb.png) no-repeat;
	top:1px;
	width:19px;
	height:2px;
}
.dijitSplitterVertical {
	background:url(dijit/splitContainerSizerV.png) repeat-y #fff;
	border:0;
	border-top:0px solid #d3d3d3;
	border-bottom:0px solid #d3d3d3;
	width:5px;
}
.dijitSplitterVertical .dijitSplitterThumb {
	background:url(dijit/splitContainerSizerV-thumb.png) no-repeat;
	left:1px;
	height:19px;
	width:5px;
}
.dijitInputField INPUT,
.dijitTextBox,
.dijitComboBox,
.dijitSpinner {
	margin: 0em 0.1em;
}
.dijitTextBox,
.dijitComboBox,
.dijitSpinner,
.dijitInlineEditor input {
	
	background:#fff url(dijit/validationInputBg.png) repeat-x top left;
	#background:#fff url(dijit/validationInputBg.gif) repeat-x top left;
	border:1px solid #b3b3b3;
	line-height: normal;
}
.dijitComboBox .dijitButtonNode {
	padding: 0 0.2em;
}
.dijitComboBox .dijitButtonNode,
.dijitSpinner .dijitButtonNode {
	
	border-color: #9b9b9b;
}
.dijitTextBoxFocused,
.dijitComboBoxFocused,
.dijitSpinnerFocused {
	
	border-color:#406b9b;
}
.dijitComboBoxFocused .dijitButtonNode, .dijitSpinnerFocused .dijitButtonNode {
	border-left-color:#366dba;
}
.dijitSpinnerFocused .dijitDownArrowButton {
	border-top-color:#366dba;
}
.dijitError {
	border-color:#f3d118;
	background-color:#f9f7ba;
	background-image:none;
}
.dj_ie6 .dijitError INPUT {
	
	background-color:#f9f7ba !important;
}
.dijitErrorFocused {
	background-color:#ff6;
	background-image:none;
}
.dj_ie6 .dijitErrorFocused INPUT {
	
	background-color:#ff6 !important;
}
.dijitValidationIcon {
	
	width: 16px;
	background: transparent url(dijit/warning.png) no-repeat center center;
}
.dijitInlineValue {
	
	padding:3px;
	margin:4px;
}
.dijitInlineEditor {
	
	display: inline-block;
	display: -moz-inline-stack;
	#display:inline;
	
}
.dijitInlineEditor .saveButton,
.dijitInlineEditor .cancelButton {
	margin:3px 3px 3px 0px;
}
.RichTextEditable {
	border:1px solid #bfbfbf;
	border-top:0;
}
.dj_ie6 .dijitInputField
{
	background: url(dijit/validationInputBg.gif) repeat-x top left #fff;
}
.dijitContentPaneLoading {
	background:url(dijit/loading.gif) no-repeat left center;
	padding-left:25px;
}
.dijitContentPaneError {
	background:url(dijit/warning.png) no-repeat left center;
	padding-left:25px;
}
.dijitButtonNode {
	
	
	border:1px solid #c0c0c0;
	border-bottom:1px solid #9b9b9b;
	border-right:1px solid #9b9b9b;
	padding: 0.2em;
	background:#fff url(dijit/buttonEnabled.png) repeat-x bottom left;
}
.dj_ie .dijitButtonNode {
	zoom: 1;
}
.dijitButtonText {
	padding: 0 0.3em;
}
.dijitComboBox .dijitButtonNode {
	border: 0px;
}
.dijitArrowButton {
	color: #111;
}
.dijitComboButton .dijitDownArrowButton {
	padding-right:4px;
}
.dijitButtonDisabled .dijitButtonNode,
.dijitToggleButtonDisabled .dijitButtonNode,
.dijitDropDownButtonDisabled .dijitButtonNode,
.dijitComboButtonDisabled .dijitButtonNode,
.dijitComboBoxDisabled,
.dijitSpinnerDisabled,
.dijitSpinnerDisabled .dijitButtonNode {
	
	border-color: #d5d5d5 #bdbdbd #bdbdbd #d5d5d5;
	
	background:#e4e4e4 url(dijit/buttonDisabled.png) top repeat-x;
	opacity: 0.60; 
}
.dj_ie .dijitButtonDisabled .dijitButtonNode *,
.dj_ie .dijitToggleButtonDisabled .dijitButtonNode *,
.dj_ie .dijitDropDownButtonDisabled .dijitButtonNode *,
.dj_ie .dijitComboButtonDisabled .dijitButtonNode *,
.dj_ie .dijitSpinnerDisabled .dijitButtonNode * {
	filter: gray() alpha(opacity=50); 
}
.dijitButtonHover .dijitButtonNode,
.dijitToggleButtonHover .dijitButtonNode,
.dijitDropDownButtonHover .dijitButtonNode,
.dijitComboButtonHover .dijitButtonContents,
.dijitComboButtonDownArrowHover .dijitDownArrowButton,
.dijitComboBoxHover .dijitDownArrowButton,
.dijitSpinnerUpArrowHover .dijitUpArrowButton,
.dijitSpinnerDownArrowHover .dijitDownArrowButton {
	
	
	border-color:#a5beda;
	border-bottom-color:#5c7590;
	border-right-color:#5c7590;
	color:#000;
	background:#fcfdff url(dijit/buttonHover.png) repeat-x bottom;
}
.dijitSpinnerUpArrowActive .dijitUpArrowButton,
.dijitSpinnerDownArrowActive .dijitDownArrowButton,
.dijitButtonActive .dijitButtonNode,
.dijitToggleButtonActive .dijitButtonNode,
.dijitDropDownButtonActive .dijitButtonNode,
.dijitComboButtonActive .dijitButtonContents,
.dijitDownArrowActive .dijitDownArrowButton,
.dijitComboBoxActive .dijitDownArrowButton {
	
	border-color:#366dba;
	background: #ededed url(dijit/buttonActive.png) bottom repeat-x;
}
.dijitArrowButtonInner {
	background:url(dijit/arrowDown.png) no-repeat center center;
}
.dijitUpArrowButton .dijitArrowButtonInner { background-image:url(dijit/arrowUp.png); }
.dj_ie6 .dijitArrowButtonInner {
	background-image:url(dijit/arrowDown.gif);
}
.dj_ie6 .dijitUpArrowButton .dijitArrowButtonInner {
	background-image:url(dijit/arrowUp.gif);
}
.dijitComboBox .dijitArrowButton .dijitArrowButtonInner {
	background:url(dijit/comboArrowDown.gif) no-repeat center center;
}
.dijitComboBoxHover .dijitArrowButtonInner {
	
}
.dijitToggleButton .dijitCheckBoxIcon {
	background-image: url(dijit/checkmarkNoBorder.gif);
}
.dijitCheckBox,
.dijitCheckBoxIcon			{
	background-image: url(dijit/checkmark.gif); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.dijitCheckBox,
.dijitToggleButton .dijitCheckBoxIcon {
	
	background-position: -16px;
}
.dijitCheckBoxChecked,
.dijitToggleButtonChecked .dijitCheckBoxIcon {
	
	background-position: 0px;
}
.dijitCheckBoxDisabled {
	
	background-position: -48px;
}
.dijitCheckBoxCheckedDisabled {
	
	background-position: -32px;
}
.dijitCheckBoxHover,
.dijitCheckBoxFocused {
	
	background-position: -80px;
}
.dijitCheckBoxCheckedHover,
.dijitCheckBoxCheckedFocused {
	
	background-position: -64px;
}
.dijitToggleButton .dijitRadio,
.dijitToggleButton .dijitRadioIcon {
	background-image: url(dijit/checkmarkNoBorder.gif);
}
.dijitRadio,
.dijitRadioIcon	{		
	background-image: url(dijit/checkmark.gif); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.dijitRadio,
.dijitToggleButton .dijitRadioIcon {
	
	background-position: -112px;
}
.dijitRadioChecked,
.dijitToggleButtonChecked .dijitRadioIcon {
	
	background-position: -96px;
}
.dijitRadioDisabled {
	
	background-position: -144px;
}
.dijitRadioCheckedDisabled {
	
	background-position: -128px;
}
.dijitRadioHover,
.dijitRadioFocused {
	
	background-position: -176px;
}
.dijitRadioCheckedHover,
.dijitRadioCheckedFocused {
	
	background-position: -160px;
}
.dijitTextArea {
	
	background:#fff url(dijit/validationInputBg.png) repeat-x top left;
	#background:#fff url(dijit/validationInputBg.gif) repeat-x top left;
	border:1px solid #b3b3b3;
	line-height: normal;
}
.dijitHorizontalSliderProgressBar {
	border-color: #aab0bb;
	background: #c0c2c5 url(dijit/sliderFull.png) repeat-x top left;
}
.dijitVerticalSliderProgressBar {
	border-color: #aab0bb;
	background: #c0c2c5 url(dijit/sliderFullVertical.png) repeat-y bottom left;
}
.dijitSliderFocused .dijitHorizontalSliderProgressBar,
.dijitSliderFocused .dijitHorizontalSliderLeftBumper {
	background-image:url(dijit/sliderFullFocus.png);
}
.dijitSliderFocused .dijitVerticalSliderProgressBar,
.dijitSliderFocused .dijitVerticalSliderBottomBumper {
	background-image:url(dijit/sliderFullVerticalFocus.png);
}
.dijitVerticalSliderRemainingBar {
	border-color: #b4b4b4;
	background: #dcdcdc url(dijit/sliderEmptyVertical.png) repeat-y bottom left;
}
.dijitHorizontalSliderRemainingBar {
	border-color: #b4b4b4;
	background: #dcdcdc url(dijit/sliderEmpty.png) repeat-x top left;
}
.dijitSliderBar {
	border-style: solid;
	outline:1px;
}
.dijitSliderFocused .dijitSliderBar {
	border-color:#333;	
}
.dijit_a11y .dijitSliderProgressBar {
	background-color:#333 !important;
}
.dijitHorizontalSliderImageHandle {
	border:0px;
	width:16px;
	height:16px;
	background:url(dijit/preciseSliderThumb.png) no-repeat center top;
	cursor:pointer;
}
.dijitSliderFocused .dijitHorizontalSliderImageHandle {
	background-image:url(dijit/preciseSliderThumbFocus.png);
	#background-image:url(dijit/preciseSliderThumbFocus.gif);
}
.dj_ie6 .dijitHorizontalSliderImageHandle {
	background-image:url(dijit/preciseSliderThumb.gif);
}
.dijitHorizontalSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url(dijit/sliderFull.png) repeat-x top left;
}
.dijitHorizontalSliderRightBumper {
	background: #dcdcdc url(dijit/sliderEmpty.png) repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}
.dijitVerticalSliderImageHandle {
	border:0px;
	width:16px;
	height:16px;
	background:url(dijit/sliderThumb.png) no-repeat center center;
	cursor:pointer;
}
.dijitSliderFocused .dijitVerticalSliderImageHandle {
	background-image:url(dijit/sliderThumbFocus.png);
}
.dj_ie6 .dijitSliderFocused .dijitVerticalSliderImageHandle {
	background-image:url(dijit/sliderThumbFocus.gif);
}
.dijitVerticalSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url(dijit/sliderFullVertical.png) repeat-y bottom left;
}
.dijitVerticalSliderTopBumper {
	background: #dcdcdc url(dijit/sliderEmptyVertical.png) repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}
.dijitHorizontalSliderIncrementIcon,
.dijitVerticalSliderIncrementIcon {
	background:url(dijit/arrowUp.png) no-repeat center center;
	width:16px; height:16px;
	cursor:pointer;
}
.dijitHorizontalSliderIncrementIcon {
	background-image:url(dijit/arrowRight.png);
}
.dijitHorizontalSliderDecrementIcon,
.dijitVerticalSliderDecrementIcon {
	width:16px;
	height:16px;
	cursor:pointer;
	background:url(dijit/arrowDown.png) no-repeat center center;
}
.dijitHorizontalSliderDecrementIcon { background-image:url(dijit/arrowLeft.png); }
.dijitSliderButtonInner {
	visibility:hidden;
}
.dijitSliderDisabled {
	opacity:0.6 !important;
}
.dj_ie6 .dijitSliderDisabled,
.dj_ie6 .dijitSliderDisabled .RuleContainer,
.dj_ie6 .dijitSliderDisabled .dijitSliderRemainingBar,
.dj_ie6 .dijitSliderDisabled .dijitSliderProgressBar {
	filter: gray() alpha(opacity=40);
}
.dijitSliderDisabled * {
	cursor: not-allowed !important;
}
.dijitTreeNode {
    background-image : url(dijit/i.gif);
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 19px;
    zoom: 1;	
}
.dijitTreeIsLast {
    background: url(dijit/i_half.gif) no-repeat;
}
.dijitTreeIsRoot {
    margin-left: 0;
    background-image: none;
}
.dijitTreeExpando {
    width: 18px;
    height: 18px;
}
.dijitTreeContent {
    min-height: 18px;
    min-width: 18px;
    margin-left:18px;
    padding-top:3px;
    padding-left:1px;
}
.dijitTreeExpand {
    width: 18px;
    height: 18px;
    background-repeat : no-repeat;
}
.dijitTreeNodeEmphasized {
    background-color: Highlight;
    color: HighlightText;
}
.dijitTreeLabelFocused {
	outline: 1px invert dotted;
	background:#dde7f2;
}
.dijitTreeExpandoOpened {
	background-image: url(dijit/treeExpand_minus.gif);
}
.dijitTreeExpandoClosed {
	background-image: url(dijit/treeExpand_plus.gif);
}
.dijitTreeExpandoLeaf {
	background-image: url(dijit/treeExpand_leaf.gif);
}
.dijitTreeExpandoLoading {
	background-image: url(dijit/treeExpand_loading.gif);
}
.dijitTreeIcon {
	width: 16px;
	height: 16px;
	padding-right: 4px;
}
.dijitFolderOpened {
	background: url(dijit/folderOpened.gif) no-repeat;
}
.dijitFolderClosed {
	background: url(dijit/folderClosed.gif) no-repeat;
}
.dijitLeaf {
	background: url(dijit/leaf.gif) no-repeat;
}
.dijitProgressBar {
	margin:2px 0px 2px 0px;
}
.dijitProgressBarEmpty{
	
	background:#fff url(dijit/progressBarEmpty.png) repeat-x top left;
	border-color: #a2a2a2 #b8b8b8 #b8b8b8 #a2a2a2;
}
.dijitProgressBarTile{
	
	background:#f0f0f0 url(dijit/progressBarFull.png) repeat-x center center;
}
.dijitProgressBarFull {
	border-right:1px solid #b8b8b8;
}
.dijitProgressBarLabel {
	
	color:#293a4b;
}
.dijitProgressBarIndeterminate .dijitProgressBarTile {
	
	background:#cad2de url(dijit/progressBarAnim.gif) repeat-x center center;
}
.dijitTitlePane .dijitTitlePaneTitle {
	background: #cccccc;
	background:#fff url(dijit/titleBar.png) repeat-x bottom left;
	border:1px solid #bfbfbf;
	padding:4px 4px 2px 4px;
	cursor: pointer;
}
.dijitTitlePane .dijitArrowNode {
	width:16px;
	height:16px;
	float:right;
}
.dijitTitlePane .dijitClosed .dijitArrowNode {
	background:url(dijit/arrowRight.png) no-repeat center center;
}
.dijitTitlePaneFocused .dijitTitlePaneTextNode {
	text-decoration:underline;
}
.dj_ie6 .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-image:url(dijit/arrowRight.gif);
}
.dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url(dijit/arrowDown.png) no-repeat center center;
}
.dj_ie6 .dijitTitlePane .dijitOpen .dijitArrowNode {
	background-image:url(dijit/arrowDown.gif);
}
.dijitTitlePane .dijitArrowNodeInner {
	visibility:hidden;
}
.dijit_a11y .dijitTitlePane .dijitArrowNodeInner {
	visibility:visible;
}
.dijitTitlePaneTitle .dijitOpenCloseArrowOuter {
	margin-right:5px;
}
.dijitOpen .dijitTitlePaneTitle .dijitOpenCloseArrowOuter {
	position:relative;
	top:2px;
}
.dijitTitlePaneContentOuter {
	background: #ffffff;
	border:1px solid #bfbfbf;
	border-top: 1px solid #ccc;	
}
.dijitTitlePaneContentInner {
	padding:10px;
}
.dj_ie6 .dijitTitlePaneContentOuter,
.dj_ie6 .dijitTitlePane .dijitTitlePaneTitle {
	zoom: 1;
}
.dijitClickableRegion {
	background-color : #ffc !important;
}
	
.dijitCalendarIncrementControl {
	
	width:15px;
	height:15px;
	font-size: 1px;
}
.dj_ie6 .dijitCalendarIncrementControl {
	padding:.1em;
}
.dijitCalendarIncreaseInner,
.dijitCalendarDecreaseInner {
	visibility:hidden;
}
.dijitCalendarDecrease {
	background:url(dijit/spriteRoundedIconsSmall.png) no-repeat top left;
}
.dj_ie6 .dijitCalendarDecrease {
	background:url(dijit/spriteRoundedIconsSmall.gif) no-repeat top left;
}
.dijitCalendarIncrease {
	background:url(dijit/spriteRoundedIconsSmall.png) no-repeat -30px top;
}
.dj_ie6 .dijitCalendarIncrease {
	background:url(dijit/spriteRoundedIconsSmall.gif) no-repeat -30px top;
}
table.dijitCalendarContainer {
	font-size: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border: 1px solid #ccc;
	margin: 0;
}
.dijitCalendarMonthContainer th {
	
	background:#d3d3d3 url(dijit/titleBar.png) repeat-x top;
	padding-top:.3em;
	padding-bottom:.2em;
	text-align:center;
}
.dj_ie6 .dijitCalendarMonthContainer th {
	padding-top:.1em;
	padding-bottom:0em;
}
.dijitCalendarDayLabelTemplate {
	
	background:white url(dijit/calendarDayLabel.png) repeat-x bottom;
	font-weight:normal;
	padding-top:.15em;
	padding-bottom:0em;
	border-top: 1px solid #eeeeee;
	color:#293a4b;
	text-align:center;
}
.dijitCalendarBodyContainer {
	border-bottom: 1px solid #eeeeee;	
}
.dijitCalendarMonthLabel {
	color:#293a4b;
	font-weight: bold;
}
.dj_ie7 .dijitCalendarDateTemplate,
.dj_ie6 .dijitCalendarDateTemplate {
	font-size: 0.8em;
}
.dijitCalendarDateTemplate {
	
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	padding: 0.3em 0.3em 0.05em 0.3em;
	letter-spacing: 1px;
}
.dijitCalendarPreviousMonth,
.dijitCalendarNextMonth 		{
	
	color:#999999;
	background-color:#f8f8f8 !important;
}
.dijitCalendarPreviousMonthDisabled,
.dijitCalendarNextMonthDisabled	{
	
	background-color:#a4a5a6 !important;
}
.dijitCalendarCurrentMonth {
	
	background-color:white !important;
}
.dijitCalendarCurrentMonthDisabled {
		
	background-color:#bbbbbc !important;
}
.dijitCalendarCurrentDate {
	
	text-decoration:underline;
	font-weight:bold;
}
.dijitCalendarCurrentDate {
	
	text-decoration:underline;
	font-weight:bold;
}
.dijitCalendarSelectedDate {
	
	background-color:#bbc4d0 !important;
	color:black !important;
}
.dijitCalendarYearContainer {
	
	background:white url(dijit/calendarYearLabel.png) repeat-x bottom;
	border-top:1px solid #ccc;
}
.dijitCalendarYearLabel {
	
	margin:0;
	padding:0.4em 0 0.25em 0;
	text-align:center;
}
.dijitCalendarSelectedYear {
	
	color:black;
	padding:0.2em;
	padding-bottom:0.1em;
	background-color:#bbc4d0 !important;
}
.dijitCalendarNextYear,
.dijitCalendarPreviousYear {
	
	color:black !important;
	font-weight:normal;
}
.dijitToolbar {
	padding: 3px 0 1px 3px;	
	border-bottom: 1px solid #ccc;
	background:#eaeaea url(dijit/titleBar.png) repeat-x top left;
}
.dijitToolbar * {
	padding: 0;
	margin: 0;
	
	
}
.dj_ie .dijitToolbar {
	padding-bottom: 1px;
}
.dijitToolbar .dijitButtonNode {
	padding: 0;
	margin: 1px;
	border: 1px solid transparent;
	background: none;
	_margin: 1px;
	_padding: 0 1px 0 1px;
	_border: 0;
}
.dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
	background-color:#c1d2ee;
	border:1px solid #316ac5;
}
.dijitToolbar .dijitToggleButtonCheckedHover .dijitButtonContents {
	border-color: #aec6e7;
	background-color: transparent;
}
.dj_ie6 .dijitToolbar .dijitButtonNode {
	
	border-color: #e9e9e9;
}
.dijitToolbar .dijitButtonHover .dijitButtonNode,
.dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.dijitToolbar .dijitDropDownButtonHover .dijitButtonNode {
	
	border-color: #aec6e7;
	
	_border: 1px solid #366dba;
	_margin: 0 0 0 0;
	_padding: 0;
}
.dijitToolbar label {	
	padding: 3px 3px 0 6px;
}
.dijitDialog {
	background: #fff;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 5px 10px #adadad;
	padding: 0px;
}
.dijitDialog .dijitDialogTitle {
	border-top: none;
	border-left: none;
	border-right: none;
}
.dijitDialog .dijitDialogPaneContent {
	background: #fff;
	border:none;
	border-top: 1px solid #d3d3d3; 
	padding:10px;
}
.dijitDialogTitleBar {
	
	background: #fafafa url(dijit/titleBar.png) repeat-x top left;
	
	padding: 5px 6px 3px 2px;
	cursor: move;
	outline:0; 
}
.dijitDialogTitle {
	
	font-weight: bold;
	padding: 8px 12px 8px 12px;
	outline:0;
}
.dijitDialogCloseIcon {
	
	background : url(dijit/spriteRoundedIconsSmall.png) no-repeat right top;
	float: right;
	position: absolute;
	vertical-align: middle;
	right: 6px;
	top: 4px;
	height: 15px;
	width: 15px;
	cursor: pointer;
}
.dj_ie6 .dijitDialogCloseIcon {
	background : url(dijit/spriteRoundedIconsSmall.gif) no-repeat right top;
}
.dijitDialogContent {
	
	padding: 8px;
}
.dijitTooltip,
.dijitTooltipDialog {
	
	
	background: transparent;	
}
.dijitTooltipBelow {
	
	padding-top: 13px;
}
.dijitTooltipAbove {
	
	padding-bottom: 13px;
}
.dijitTooltipContainer {
	
	background: #ffffff url(dijit/popupMenuBg.gif) repeat-x bottom left;
	border:1px solid #7eabcd;
	padding:0.45em;	
	-webkit-border-radius: 6px;
}
.dijitTooltipConnector {
	
	border:0px;
	z-index: 2;
}
.dijitTooltipABRight .dijitTooltipConnector {
	
	left: auto !important;
	right: 3px;
}
.dijitTooltipBelow .dijitTooltipConnector {
	
	top: 0px;
	left: 3px;
	background:url(dijit/tooltipConnectorUp.png) no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie6 .dijitTooltipBelow .dijitTooltipConnector {
	background-image: url(dijit/tooltipConnectorUp.gif);
}
.dijitTooltipAbove .dijitTooltipConnector {
	
	bottom: 0px;
	left: 3px;
	background:url(dijit/tooltipConnectorDown.png) no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie6 .dijitTooltipAbove .dijitTooltipConnector {
	background-image: url(dijit/tooltipConnectorDown.gif);
	bottom: -3px;
}
.dijitTooltipLeft {
	padding-right: 14px;
}
.dj_ie6 .dijitTooltipLeft {
	padding-left: 15px;
}
.dijitTooltipLeft .dijitTooltipConnector {
	
	right: 0px;
	bottom: 7px;
	background:url(dijit/tooltipConnectorRight.png) no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie6 .dijitTooltipLeft .dijitTooltipConnector {
	background-image: url(dijit/tooltipConnectorRight.gif);
}
.dijitTooltipRight {
	padding-left: 14px;
}
.dijitTooltipRight .dijitTooltipConnector {
	
	left: 0px;
	bottom: 7px;
	background:url(dijit/tooltipConnectorLeft.png) no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie6 .dijitTooltipRight .dijitTooltipConnector {
	background-image: url(dijit/tooltipConnectorLeft.gif);
}
.dj_safari .dijitPopup .dijitTooltipContainer,
.dj_safari .dijitPopup .dijitMenu {
	
	-webkit-box-shadow: 0px 5px 10px #adadad;
}
.dijitPopup > div,
.dijitPopup > table {
	opacity: 0.95;
}
.dijitMenu {
	border: 1px solid #9b9b9b;
	margin: 0px;
	padding: 0px;
}
.dijitMenuItem {
	background-color: #f7f7f7;
	font: menu;
	margin: 0;
}
.dijitMenuPreviousButton, .dijitMenuNextButton {
	font-style: italic;
}
.dijitMenuItem td {
	padding:2px;
}
.dijitMenuItemHover {
	background-color: #60a1ea;
	color:#fff;
}
.dijitMenuItemIcon {
	width: 16px;
	height: 16px;
}
.dijitMenuExpand {
	display:none;
}
.dijitMenuExpandEnabled {
	width:16px;
	height:16px;
	background:url(dijit/arrowRight.gif) no-repeat center center;
	display:block;
}
.dijitMenuExpandInner {
	display:none;
}
.dijitMenuSeparator {
	background-color: #f7f7f7;
}
.dijitMenuSeparatorTop {
	border-bottom: 1px solid #9b9b9b;
}
.dijitMenuSeparatorBottom {
	border-top: 1px solid #e8e8e8;
}
.IEFixedToolbar {
	position:absolute;
	
	top: expression(eval((document.documentElement||document.body).scrollTop));
}
.dijitToolbar .dijitToolbarSeparator {
	background: url(dijit/editor.gif);
}
.dijitEditorIcon {
	background-image: url(dijit/editor.gif); 
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}
.dijitEditorIconSep { background-position: 0px; }
.dijitEditorIconBackColor { background-position: -18px; }
.dijitEditorIconBold { background-position: -36px; }
.dijitEditorIconCancel { background-position: -54px; }
.dijitEditorIconCopy { background-position: -72px; }
.dijitEditorIconCreateLink { background-position: -90px; }
.dijitEditorIconCut { background-position: -108px; }
.dijitEditorIconDelete { background-position: -126px; }
.dijitEditorIconForeColor { background-position: -144px; }
.dijitEditorIconHiliteColor { background-position: -162px; }
.dijitEditorIconIndent { background-position: -180px; }
.dijitEditorIconInsertHorizontalRule { background-position: -198px; }
.dijitEditorIconInsertImage { background-position: -216px; }
.dijitEditorIconInsertOrderedList { background-position: -234px; }
.dijitEditorIconInsertTable { background-position: -252px; }
.dijitEditorIconInsertUnorderedList { background-position: -270px; }
.dijitEditorIconItalic { background-position: -288px; }
.dijitEditorIconJustifyCenter { background-position: -306px; }
.dijitEditorIconJustifyFull { background-position: -324px; }
.dijitEditorIconJustifyLeft { background-position: -342px; }
.dijitEditorIconJustifyRight { background-position: -360px; }
.dijitEditorIconLeftToRight { background-position: -378px; }
.dijitEditorIconListBulletIndent { background-position: -396px; }
.dijitEditorIconListBulletOutdent { background-position: -414px; }
.dijitEditorIconListNumIndent { background-position: -432px; }
.dijitEditorIconListNumOutdent { background-position: -450px; }
.dijitEditorIconOutdent { background-position: -468px; }
.dijitEditorIconPaste { background-position: -486px; }
.dijitEditorIconRedo { background-position: -504px; }
.dijitEditorIconRemoveFormat { background-position: -522px; }
.dijitEditorIconRightToLeft { background-position: -540px; }
.dijitEditorIconSave { background-position: -558px; }
.dijitEditorIconSpace { background-position: -576px; }
.dijitEditorIconStrikethrough { background-position: -594px; }
.dijitEditorIconSubscript { background-position: -612px; }
.dijitEditorIconSuperscript { background-position: -630px; }
.dijitEditorIconUnderline { background-position: -648px; }
.dijitEditorIconUndo { background-position: -666px; }
.dijitEditorIconWikiword { background-position: -684px; }
.dijitEditorIconToggleDir { background-position: -540px; }
