/*
TODO: there's alot of things in this that should be in /desktop.css instead of here...
*/

html, body {
	font-family: sans-serif;
}
/******************** Taskbar ********************/
.desktopPanel {
  background:url(./images/taskbar.gif) #f5f5f5;
}
.desktopPanelTop {
  background:url(./images/top_bar.png) #f5f5f5 repeat-x;
}
/******************** Window List ********************/
.taskBarItem {
	display: inline;
	background-image: url("./images/task.png");
	background-repeat: no-repeat;
	margin-right: 5px;
	margin: 0px;
	padding: 4px;
	cursor: pointer;
	height: 26px;
	width: 191px;
	font-size: 10pt;
	white-space: nowrap;
	text-align: center;
	float: left;
	overflow: hidden;
	color: white;
}

.taskBarItem img {
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 5px;	
	height: 16px;
	width: 16px;
}

.taskBarItem a {
	color: white;
	text-decoration: none;
}

.seperator {
	background-image: url(./images/separator.gif);
	height:35px;
	width: 8px;
}
/******************** Console ********************/
.console {
	border: 1px solid gray;
	background-color: black;
	color: white;
}
.consoleinput {
	width: 90%;
	height: 20px;
	border: none;
	background-color: black;
	color: white;
}
/******************** Toaster  ********************/
#toaster{
	background-color: #eeeeee;
}
/******************** Menu ********************/
.menubutton-icon
{
	background-image: url('./images/icons/apps.gif');
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
}