.win {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
.win-buttons {
	padding: 3px;
	width: 48px;
}
.win-close,
.win-min,
.win-max {
	width: 16px;
	height: 16px;
}
.win-close {
	background-image: url(./images/close.gif);
}
.win-min {
	background-image: url(./images/minimize.gif);
}
.win-max {
	background-image: url(./images/maximize.gif);
}
.win-tc {
	padding-top: 2px;
	z-index: 1;
    height: 22px;
	background-image: url(./images/winmid.gif);
	color: white;
	font-weight: bold;
}
.win-mc {
	background-color: white;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}

.win > .win-bmw {
	top: 22px;
}
.win-tr,
.win-tl {
	height: 22px;
}
.win-tr {
	background-image: url(./images/winright.gif);
	padding-right: 6px;
}
.win-tl {
	background-image: url(./images/winleft.gif);
	padding-left: 6px;
}
.win-resize {
	width: 5px;
	height: 5px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	cursor: se-resize;
}

.win-mc {
	background-color: white;
}
