/* Calendar*/
	
.dijit .dijitCalendarIncrementControl {
	/* next/prev month buttons */
	width:15px;
	height:15px;

}
.dj_ie6 .dijit .dijitCalendarIncrementControl {
	padding:.1em;
	font-size:.1em;
}

.dijit .dijitCalendarIncreaseInner,
.dijit .dijitCalendarDecreaseInner {
	visibility:hidden;
}

.dijit .dijitCalendarDecrease {
	background:url("images/spriteRoundedIconsSmall.png") no-repeat top left;
}
.dj_ie6 .dijit .dijitCalendarDecrease {
	background:url("images/spriteRoundedIconsSmall.gif") no-repeat top left;
}

.dijit .dijitCalendarIncrease {
	background:url("images/spriteRoundedIconsSmall.png") no-repeat -30px top;
}
.dj_ie6 .dijit .dijitCalendarIncrease {
	background:url("images/spriteRoundedIconsSmall.gif") no-repeat -30px top;
}

.dijit table.dijitCalendarContainer {
	font-size: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border: 1px solid #ccc;
	margin: 0;
}

.dijit .dijitCalendarMonthContainer th {
	/* month header cell */
	background:#d3d3d3 url("images/titleBar.png") repeat-x top;
	padding-top:.3em;
	padding-bottom:.2em;
	text-align:center;
}
.dj_ie6 .dijit .dijitCalendarMonthContainer th {
	padding-top:.1em;
	padding-bottom:0em;
}

.dijit .dijitCalendarDayLabelTemplate {
	/* day of week labels */
	background:white url("images/calendarDayLabel.png") repeat-x bottom;
	font-weight:normal;
	padding-top:.15em;
	padding-bottom:0em;
	border-top: 1px solid #eeeeee;
	color:#293a4b;
	text-align:center;
}

.dijit .dijitCalendarBodyContainer {
	border-bottom: 1px solid #eeeeee;	
}

.dijit .dijitCalendarMonthLabel {
	color:#293a4b;
	font-weight: bold;
}

.dj_ie7 .dijit .dijitCalendarDateTemplate,
.dj_ie6 .dijit .dijitCalendarDateTemplate {
	font-size: 0.8em;
}

.dijit .dijitCalendarDateTemplate {
	/* style for each day cell */
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	padding: 0.3em 0.3em 0.05em 0.3em;
	letter-spacing: 1px;
}


.dijit .dijitCalendarPreviousMonth,
.dijit .dijitCalendarNextMonth 		{
	/* days that are part of the previous or next month */
	color:#999999;
	background-color:#f8f8f8 !important;
}

.dijit .dijitCalendarPreviousMonthDisabled,
.dijit .dijitCalendarNextMonthDisabled	{
	/* days that are part of the previous or next month - disabled*/
	background-color:#a4a5a6 !important;
}

.dijit .dijitCalendarCurrentMonth {
	/* days that are part of this month */
	background-color:white !important;
}

.dijit .dijitCalendarCurrentMonthDisabled {
	/* days that are part of this month - disabled */	
	background-color:#bbbbbc !important;
}

.dijit .dijitCalendarCurrentDate {
	/* cell for today's date */
	text-decoration:underline;
	font-weight:bold;
}

.dijit .dijitCalendarCurrentDate {
	/* cell for today's date */
	text-decoration:underline;
	font-weight:bold;
}

.dijit .dijitCalendarSelectedDate {
	/* cell for the selected date */
	background-color:#bbc4d0 !important;
	color:black !important;
}
.dijit .dijitCalendarYearContainer {
	/* footer of the table that contains the year display/selector */
	background:white url("images/calendarYearLabel.png") repeat-x bottom;
	border-top:1px solid #ccc;
}

.dijit .dijitCalendarYearLabel {
	/* container for all of 3 year labels */
	margin:0;
	padding:0.4em 0 0.25em 0;
	text-align:center;
}

.dijit .dijitCalendarSelectedYear {
	/* label for selected year */
	color:black;
	padding:0.2em;
	padding-bottom:0.1em;
	background-color:#bbc4d0 !important;
}

.dijit .dijitCalendarNextYear,
.dijit .dijitCalendarPreviousYear {
	/* label for next/prev years */
	color:black !important;
	font-weight:normal;
}