.themed .dijitMenu {
	border: 1px solid #7eabcd;
	margin: 0px;
	padding: 0px;
}

.themed .dijitMenuItem {
	background-color: #f7f7f7;
	font: menu;
	margin: 0;
}
.themed .dijitMenuPreviousButton, .themed .dijitMenuNextButton {
	font-style: italic;
}
.themed .dijitMenuItem td {
	padding:2px;
}

.themed .dijitMenuItemHover {
	background-color: #60a1ea;
	color:#fff;
}

.themed .dijitMenuItemIcon {
	width: 16px;
	height: 16px;
}

.themed .dijitMenuExpand {
	display:none;
}
.themed .dijitMenuExpandEnabled {
	width:16px;
	height:16px;
	background:url('images/arrowRight.gif') no-repeat center center;
	display:block;
}

.themed .dijitMenuExpandInner {
	display:none;
}

.themed .dijitMenuSeparator {
	background-color: #f7f7f7;
}

/* separator can be two pixels -- set border of either one to 0px to have only one */
.themed .dijitMenuSeparatorTop {
	border-bottom: 1px solid #9b9b9b;
}

.themed .dijitMenuSeparatorBottom {
	border-top: 1px solid #e8e8e8;
}