.dijit .dijitToolbar {
	padding: 3px 0 1px 3px;	
	border-bottom: 1px solid #ccc;
	background:#eaeaea url("images/titleBar.png") repeat-x top left;
}

.dijit .dijitToolbar .dijitButtonNode {
	background: none;
	margin: 0px !important;
	padding: 0px !important;	
	border: none;
	font-size: 12px;
}

.dijit .dijitToolbar .dijitButton,
.dijit .dijitToolbar .dijitToggleButton,
.dijit .dijitToolbar .dijitDropDownButton {
	background: none;
	margin: 1px;
	padding: 0px;	
	border: 1px solid transparent;
}

.dijit .dijitToolbar .dijitButtonChecked,
.dijit .dijitToolbar .dijitToggleButtonChecked {
	background-color:#d4dff2;
	border:1px solid #316ac5;
	margin: 1px !important;
	padding: 0px !important;
}

.dijit .dijitToolbar .dijitButtonCheckedHover,
.dijit .dijitToolbar .dijitToggleButtonCheckedHover
 {
	background-color:#abc1e5;
	border:1px solid #316ac5;
	margin: 1px !important;
	padding: 0px !important;
}

.dijit .dijitToolbar .dijitButtonHover,
.dijit .dijitToolbar .dijitToggleButtonHover,
.dijit .dijitToolbar .dijitDropDownButtonHover {
	/* TODO: change this from Hover to Selected so that button is still highlighted while drop down is being used */
	border: 1px solid #316ac5;
	background-color:#abc1e5;
}

.dijit .dijitToolbar label {	
	padding: 3px 3px 0 6px;
}

.dj_ie .dijit .dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ie .dijit .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused,
.dj_ff2 .dijit.dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .dijit .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused {
	border: 1px black dotted !important;	
}

/* IE6 specific rules */
.dj_ie6 .dijit .dijitToolbar .dijitButton,
.dj_ie6 .dijit .dijitToolbar .dijitToggleButton,
.dj_ie6 .dijit .dijitToolbar .dijitDropDownButton {
	/* workaround no transparent border support in IE6 */
	margin: 2px;
	padding: 0px 2px;
	border: 0px;
}

.dj_ie6 .dijit .dijitToolbar .dijitButtonChecked,
.dj_ie6 .dijit .dijitToolbar .dijitToggleButtonChecked,
.dj_ie6 .dijit .dijitToolbar .dijitDropDownButtonChecked {
	background-color:#c1d2ee;
	border:1px solid #316ac5;
	margin: 1px !important;
	padding: 0px 2px !important;
}

.dj_ie6 .dijit .dijitToolbar .dijitButtonCheckedHover,
.dj_ie6 .dijit .dijitToolbar .dijitToggleButtonCheckedHover,
.dj_ie6 .dijit .dijitToolbar .dijitDropDownButtonCheckedHover {
	background-color:#c1d2ee;
	border:1px solid #316ac5;
	margin: 1px !important;
	padding: 0px 2px !important;
}

.dj_ie6 .dijit .dijitToolbar .dijitButtonHover,
.dj_ie6 .dijit .dijitToolbar .dijitToggleButtonHover,
.dj_ie6 .dijit .dijitToolbar .dijitDropDownButtonHover  {
	background-color:#c1d2ee;
	border:1px solid #316ac5;
	margin: 1px !important;
	padding: 0px 2px !important;
}
