.themed .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.gif');
}

.themed .dijitCheckBox,
.themed .dijitCheckBoxIcon		/* inside a toggle button */	{
	background-image: url('../images/checkmark.gif'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}

.themed .dijitCheckBox,
.themed .dijitToggleButton .dijitCheckBoxIcon {
	/* unchecked */
	background-position: -16px;
}

.themed .dijitCheckBoxChecked,
.themed .dijitToggleButtonChecked .dijitCheckBoxIcon {
	/* checked */
	background-position: 0px;
}

.themed .dijitCheckBoxDisabled {
	/* disabled */
	background-position: -48px;
}

.themed .dijitCheckBoxCheckedDisabled {
	/* disabled but checked */
	background-position: -32px;
}

.themed .dijitCheckBoxHover,
.themed .dijitCheckBoxFocused {
	/* hovering over an unchecked enabled checkbox */
	background-position: -80px;
}

.themed .dijitCheckBoxCheckedHover,
.themed .dijitCheckBoxCheckedFocused {
	/* hovering over a checked enabled checkbox */
	background-position: -64px;
}
