.themed .dijitToggleButton .dijitRadio,
.themed .dijitToggleButton .dijitRadioIcon {
	background-image: url('../images/checkmarkNoBorder.gif');
}

.themed .dijitRadio,
.themed .dijitRadioIcon	{		/* inside a toggle button */
	background-image: url('../images/checkmark.gif'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}

.themed .dijitRadio,
.themed .dijitToggleButton .dijitRadioIcon {
	/* unselected */
	background-position: -112px;
}

.themed .dijitRadioChecked,
.themed .dijitToggleButtonChecked .dijitRadioIcon {
	/* selected */
	background-position: -96px;
}

.themed .dijitRadioDisabled {
	/* unselected and disabled */
	background-position: -144px;
}

.themed .dijitRadioCheckedDisabled {
	/* selected but disabled */
	background-position: -128px;
}

.themed .dijitRadioHover,
.themed .dijitRadioFocused {
	/* hovering over an unselected enabled radio button */
	background-position: -176px;
}

.themed .dijitRadioCheckedHover,
.themed .dijitRadioCheckedFocused {
	/* hovering over a selected enabled radio button */
	background-position: -160px;
}

