.dijitRtl .dijit .dijitSliderProgressBarH,
.dijitRtl .dijit .dijitSliderRemainingBarH,
.dijitRtl .dijit .dijitSliderLeftBumper,
.dijitRtl .dijit .dijitSliderRightBumper,
.dijitRtl .dijit .dijitSliderTopBumper {
	background-position: top right;
}

.dijitRtl .dijit .dijitSliderProgressBarV,
.dijitRtl .dijit .dijitSliderRemainingBarV,
.dijitRtl .dijit .dijitSliderBottomBumper {
	background-position: bottom right;
}

.dijitRtl .dijit .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}

.dijitRtl .dijit .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}

.dijitRtl .dijit .dijitSliderIncrementIconH {
	background-position: -7px 0px;
}

.dijitRtl .dijit .dijitSliderDecrementIconH {
	background-position: -14px 0px;
}
